@{
    ViewBag.Title = "Cantact Information";
}
<div>

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>


<address>
    <strong>My Email:</strong>   <a href="mailto:Support@example.com">warood21@gmail.com</a>
</address>