@{
    ViewBag.Title = "Home Page";
}

<div class="text-center fixed-bottom">
    <h2>Hello in My Simpe ASP.net MVC Application.</h2>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p> fdfbfcbfbgtbtfgbh
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
   
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>